---
import MainLayout from '@/layouts/MainLayout.astro'
import { ContentGrid, SSRPagination, ContentGridItem } from 'ui'
import type { MediaArticle, Metadata } from 'shared-types'
import InternalError from '@/components/InternalError.astro'
import { getArticles } from '@/api'

export const prerender = false

let articles: MediaArticle[] = []
let metadata: Metadata | undefined = undefined

const currentPage = Astro.url.searchParams.get('page') || '1'
const response = await getArticles(currentPage, 'en')

if (response.ok) {
  articles = response.data.articles
  metadata = response.data.metadata
}

if (!response.ok && response.error.isNotFoundError()) {
  return new Response(null, { status: 404 })
}
---

{
  !response.ok ? (
    <InternalError />
  ) : (
    <MainLayout title="Події" description="Переглянути всі події">
      <div class="not-prose">
        <ContentGrid>
          {articles.map(a => (
            <ContentGridItem
              href={`/en/media-articles/${a.id}`}
              title={a.title}
              description={a.description}
              cover={a.cover}
              coverAlt={a.title}
              date={a.occuredOn}
            />
          ))}
        </ContentGrid>
        <div class="mt-10">
          {articles.length > 0 && metadata && (
            <SSRPagination
              current={metadata.currentPage}
              total={metadata.lastPage}
            />
          )}
        </div>
      </div>
    </MainLayout>
  )
}
