---
import type { EventData } from '@/content/config'
import type { GetStaticPathsOptions, Page } from 'astro'
import { allEvents } from '@/content'
import { objectKeys } from '@/util'
import { languages } from '@/i18n/ui'
import { ChevronRightIcon, ChevronLeftIcon } from '@heroicons/react/24/solid'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Event from '@/components/Event.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

export function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  return objectKeys(languages).map(lang => {
    const eventsByLang = allEvents.data[lang]
    return paginate(eventsByLang, {
      params: { lang },
      pageSize: 4
    })
  })
}

export type Props = {
  page: Page<EventData>
}

const { page } = Astro.props
const events = page.data

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const baseUrl = `/${lang}/visit/events/all/`
const totalPages = Array.from({ length: page.lastPage }, (_, i) => i + 1)
---

<BaseLayout
  content={{
    title: t('page.events.title'),
    description: t('page.events.description')
  }}
>
  <div class="not-prose px-4 md:px-[calc(3rem+39px)]">
    <div class="space-y-8 md:space-y-12">
      {
        events.map(({ title, description, slug, image, featured }) => (
          <Event
            title={title}
            description={description}
            slug={slug}
            image={image}
            featured={featured}
          />
        ))
      }
    </div>
    <div class="mt-10 flex items-center justify-end gap-2">
      <a
        href={page.url.prev}
        class={`${page.url.prev ? '' : 'pointer-events-none opacity-30'}`}
      >
        <ChevronLeftIcon className="w-4 h-4" />
      </a>
      {
        totalPages.map(pageNum => (
          <a
            href={baseUrl + pageNum}
            class={`text-base ${
              pageNum === page.currentPage ? 'font-bold' : ''
            }`}
          >
            {pageNum}
          </a>
        ))
      }
      <a
        href={page.url.next}
        class={`${page.url.next ? '' : 'pointer-events-none opacity-30'}`}
      >
        <ChevronRightIcon className="w-4 h-4" />
      </a>
    </div>
  </div>
</BaseLayout>
