---
import { useTranslations, getLangFromUrl } from 'src/i18n/utils'
import LanguagePicker from './LanguagePicker'
import HeaderGroup from './HeaderGroup'
import HeaderLink from './HeaderLink.astro'
import MobileNavToggle from './MobieleNavToggle'
import MobileNav from './MobileNav.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<header class="fixed top-0 z-10 w-full bg-white">
  <div
    class="mx-auto flex items-start justify-between px-4 pb-3 pt-8 md:justify-normal md:px-12"
  >
    <a href={`/${lang}/home`} class="mr-12">
      <img src={`/logo${lang === 'ua' ? '' : '-en'}.png`} class="w-44" />
    </a>
    <nav class="flex items-center justify-end md:justify-between">
      <HeaderGroup group={t('nav.visit')} client:load>
        <>
          <HeaderLink href={`/${lang}/visit/events`}>
            {t('nav.visit.events')}
          </HeaderLink>
        </>
      </HeaderGroup>
      <HeaderGroup group={t('nav.education')} client:load>
        <>
          <HeaderLink href={`/${lang}/education/history`}>
            {t('nav.education.history')}
          </HeaderLink>
          <HeaderLink href={`/${lang}/education/map`}>
            {t('nav.education.map')}
          </HeaderLink>
          <HeaderLink href={`/${lang}/education/archive`}>
            {t('nav.education.archive')}
          </HeaderLink>
        </>
      </HeaderGroup>
      <HeaderGroup group={t('nav.connect')} client:load>
        <>
          <HeaderLink href={`/${lang}/connect/find-us`}>
            {t('nav.connect.find-us')}
          </HeaderLink>
        </>
      </HeaderGroup>
      <HeaderGroup group={t('nav.support')} client:load>
        <>
          <HeaderLink href={`/${lang}/support/partnership`}>
            {t('nav.support.partnership')}
          </HeaderLink>
        </>
      </HeaderGroup>
      <LanguagePicker lang={lang} client:idle />
      <MobileNavToggle client:idle />
    </nav>
  </div>
  <MobileNav />
</header>
