---
import { useTranslations, getLangFromUrl } from 'src/i18n/utils'
import LanguagePicker from './LanguagePicker'
import HeaderGroup from './HeaderGroup'
import HeaderLink from './HeaderLink.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<header class="fixed top-0 z-10 w-full border-b bg-white">
  <div class="mx-auto flex h-20 max-w-6xl items-center px-5">
    <a href={`/${lang}/home`} class="mr-20 flex-1 text-2xl font-bold uppercase"
      >{t('nav.title')}</a
    >
    <nav class="flex items-center justify-between gap-6">
      <HeaderGroup group={t('nav.visit')} client:load>
        <>
          <HeaderLink href={`/${lang}/visit/events`}>
            {t('nav.visit.events')}
          </HeaderLink>
        </>
      </HeaderGroup>
      <HeaderGroup group={t('nav.education')} client:load>
        <>
          <HeaderLink href={`/${lang}/education/history`}>
            {t('nav.education.history')}
          </HeaderLink>
          <HeaderLink href={`/${lang}/education/map`}>
            {t('nav.education.map')}
          </HeaderLink>
          <HeaderLink href={`/${lang}/education/archive`}>
            {t('nav.education.archive')}
          </HeaderLink>
        </>
      </HeaderGroup>
      <HeaderGroup group={t('nav.connect')} client:load>
        <>
          <HeaderLink href={`/${lang}/connect/find-us`}>
            {t('nav.connect.find-us')}
          </HeaderLink>
        </>
      </HeaderGroup>
      <HeaderGroup group={t('nav.support')} client:load>
        <>
          <HeaderLink href={`/${lang}/support/partnership`}>
            {t('nav.support.partnership')}
          </HeaderLink>
        </>
      </HeaderGroup>
      <LanguagePicker lang={lang} client:idle />
    </nav>
  </div>
</header>
