---
import type { EventData } from '@/content/config'
import { getLangFromUrl } from '@/i18n/utils'

export type Props = EventData

const { title, description, slug, image, featured } = Astro.props
const lang = getLangFromUrl(Astro.url)
const url = `/${lang}/visit/events/${slug}`
---

<div>
  <h2 class={`font-bold pb-2 md:pb-4 ${featured ? 'text-3xl' : 'text-2xl'}`}>
    {title}
  </h2>
  <div class="flex flex-col gap-2 rounded-sm md:flex-row md:gap-6">
    <div class="-mx-4 md:mx-0">
      <img
        src={image}
        alt={title}
        class={`w-full ${featured ? 'md:max-w-[560px]' : 'md:max-w-[400px]'}`}
      />
    </div>
    <div class="flex-1">
      <a
        href={url}
        class={`underline underline-offset-4 ${
          featured ? 'line-clamp-4' : 'line-clamp-2'
        }`}
      >
        {description}
      </a>
    </div>
  </div>
</div>
