---
import type { LegalDocument, Metadata } from 'shared-types'
import { ContentGrid, ContentGridItem, SSRPagination } from 'ui'
import MainLayout from '@/layouts/MainLayout.astro'
import { getLegalDocuments } from '@/api'
import InternalError from '@/components/InternalError.astro'

export const prerender = false

let legalDocuments: LegalDocument[] = []
let metadata: Metadata | undefined = undefined

const currentPage = Astro.url.searchParams.get('page') || '1'
const response = await getLegalDocuments(currentPage)

if (response.ok) {
  legalDocuments = response.data.documents
  metadata = response.data.metadata
}

if (!response.ok && response.error.isNotFoundError()) {
  return new Response(null, { status: 404 })
}
---

{
  !response.ok ? (
    <InternalError />
  ) : (
    <MainLayout title="Documents" description="Documents">
      <h2>Documents</h2>
      <div class="not-prose">
        <ContentGrid>
          {legalDocuments.map(entry => (
            <ContentGridItem
              href={`/legislative-basis/${entry.id}`}
              title={entry.title}
              description={entry.description}
              cover={entry.cover}
              coverAlt={entry.title}
              date={entry.occuredOn}
            />
          ))}
        </ContentGrid>
        <div class="mt-10">
          {legalDocuments.length > 0 && metadata && (
            <SSRPagination
              current={metadata.currentPage}
              total={metadata.lastPage}
            />
          )}
        </div>
      </div>
    </MainLayout>
  )
}
