---
import MainLayout from '@/layouts/MainLayout.astro'
import { FloatImage, MediaListItem, SSRPagination } from 'ui'
import type { MediaArticle, Metadata } from 'shared-types'
import { ResponseError } from 'shared'
import { fetchArticles } from '@/api'
import InternalError from '@/components/InternalError.astro'

export const prerender = false

let articles: MediaArticle[] = []
let metadata: Metadata | undefined = undefined
let error: ResponseError | undefined = undefined

const currentPage = Astro.url.searchParams.get('page') || '1'
const response = await fetchArticles(currentPage)

if (response.ok) {
  articles = response.data.articles
  metadata = response.data.metadata
}

if (!response.ok) {
  error = response.error
  console.log(response.error)
}

if (response.error && response.error.isNotFoundError()) {
  return new Response(null, { status: 404 })
}
---

{
  error ? (
    <InternalError />
  ) : (
    <MainLayout title="Події" description="Переглянути всі події">
      <div class="not-prose">
        {articles.map((a, i) => (
          <MediaListItem
            href={`/media-articles/${a.id}`}
            maxImgWidth={`${i === 0 ? 'md:max-w-[480px]' : 'md:max-w-[400px]'}`}
          >
            <h2
              slot="header"
              class={`${
                i === 0 ? 'text-3xl' : 'text-2xl'
              } font-bold text-black`}
            >
              {a.title}
            </h2>
            <FloatImage slot="left" src={a.cover} alt={a.title} />

            <p
              slot="right"
              class={`${
                i === 0 ? 'line-clamp-4' : 'line-clamp-2'
              } italic hover:underline hover:underline-offset-4`}
            >
              {a.description}
            </p>
          </MediaListItem>
        ))}
        <div class="mt-10">
          {articles.length > 0 && metadata && (
            <SSRPagination
              current={metadata.currentPage}
              total={metadata.lastPage}
            />
          )}
        </div>
      </div>
    </MainLayout>
  )
}
